:root {
  --bs-primary: #193100;
  --bs-secondary: #e4e4e4;
  --bs-tertiary: #2b2b2b;
  --text-color: rgb(26, 26, 26);
}

/* typo */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9615384615384616rem + 0.19230769230769232vw,
    1.25rem
  );
}
a {
  text-decoration: none;
  color: black;
}

/* end typo */

.navbar {
  background-color: white !important;
}
.navbar .nav-link,
.navbar .navbar-brand {
  color: black !important;
}
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #555 !important; /* Colore del testo al passaggio del mouse */
}
.offcanvas-dark {
  background-color: white !important;
}
.offcanvas-dark .nav-link,
.offcanvas-dark .navbar-brand {
  color: black !important;
}
.offcanvas-dark .nav-link:hover,
.offcanvas-dark .navbar-brand:hover {
  color: #555 !important; /* Colore del testo al passaggio del mouse */
}
.footer-section {
  background-color: white !important;
  color: black !important;
}
.footer-section a {
  color: black !important;
}
.footer-section a:hover {
  color: #555 !important; /* Colore del testo al passaggio del mouse */
}
.footer-section svg {
  fill: black !important;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.navbar-toggler-button {
  border: none;
}
/* Footer */

.footer-section {
  position: absolute;
  bottom: 0;
}

body {
  padding-bottom: 1700px; /* Default padding-bottom for small screens */
}

@media (min-width: 992px) {
  body {
    padding-bottom: 1000px; /* Adjust padding for medium screens */
  }
}

/* LANGUAGE SELECTOR */

#language-selector {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#language-selector #choose-lang-button {
  border-radius: 30px;
}

#language-selector button {
  color: #fff;
  border: none;
  padding: 10px;
  background-color: #000000;
}

#language-menu {
  display: none;
  background-color: #000000;
  border-radius: 30px;
  padding: 10px;
  margin-top: 5px;
}

#language-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  text-align: left;
  background-color: transparent;
}

/* hero*/
.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .hero-image {
    height: 90vh;
  }
}

@media (max-width: 992px) {
  .hero-image {
    height: 70vh;
  }

  #card-amati {
    border: 1px solid #e0e0e0;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: 70vh;
  }
}

.hero-section .position-absolute.top-0.start-0.w-100.h-100 {
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero-section .img-fluid.hero-image {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.btn.d-lg-none {
  background-color: transparent;
}

.container-fluid.hero-section {
  padding: 0;
  margin: 48px 0 0 0;
  position: relative;
}

.hero-section .position-absolute.top-50.start-50.translate-middle {
  z-index: 2;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  color: var(--bs-primary);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--bs-primary);
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 0;
}

.btn:hover {
  color: white;
  background-color: var(--bs-primary);
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--bs-primary);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Nero con opacità del 50% */
  z-index: 1;
}
.masthead .container {
  position: relative;
  z-index: 2;
}
