:root {
  --text: #060b06;
  --background: #f3faf3;
  --primary: #002100;
  --secondary: #00420451;
  --accent: #006207;
}

/* typo */

html {
  font-size: 100%;
}
body {
  --text-size-80: 0.694rem;
  --text-size-90: 0.833rem;
  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.44rem;
  --text-size-400: 1.728rem;
  --text-size-500: 2.074rem;
  --text-size-600: 2.488rem;
  --text-size-700: 2.986rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text);
  background: var(--background);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--text);
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
small {
  font-size: var(--text-size-90);
}
h6,
.h6 {
  font-size: var(--text-size-200);
}
h5,
.h5 {
  font-size: var(--text-size-300);
}
h4,
.h4 {
  font-size: var(--text-size-400);
}
h3,
.h3 {
  font-size: var(--text-size-500);
}
h2,
.h2 {
  font-size: var(--text-size-600);
}
h1,
.h1 {
  font-size: var(--text-size-700);
}
.text-size-80 {
  font-size: var(--text-size-80);
}
.text-size-90 {
  font-size: var(--text-size-90);
}
.text-size-100 {
  font-size: var(--text-size-100);
}
.text-size-200 {
  font-size: var(--text-size-200);
}
.text-size-300 {
  font-size: var(--text-size-300);
}
.text-size-400 {
  font-size: var(--text-size-400);
}
.text-size-500 {
  font-size: var(--text-size-500);
}
.text-size-600 {
  font-size: var(--text-size-600);
}
.text-size-700 {
  font-size: var(--text-size-700);
}

@media screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
  body {
    --text-size-80: 0.64rem;
    --text-size-90: 0.8rem;
    --text-size-100: 1rem;
    --text-size-200: 1.25rem;
    --text-size-300: 1.563rem;
    --text-size-400: 1.953rem;
    --text-size-500: 2.441rem;
    --text-size-600: 3.052rem;
    --text-size-700: 3.815rem;
  }
}

a {
  text-decoration: none;
  color: var(--text);
}

footer a:hover {
  color: var(--bs-white);
  opacity: 0.7;
}

a:active {
  text-decoration: none;
  color: var(--text);
}

.dropdown-item.active {
  background-color: var(--primary);
  color: var(--bs-white);
}

.nav-item {
  cursor: pointer;
}
/* end typo */

.text-danger {
  color: rgb(0, 46, 0) !important;
}

footer hr {
  width: 60px;
  background-color: var(--primary);
  height: 3px;
}

.navbar {
  background-color: var(--primary) !important;
}

#navbar-toggler:active {
  border: none;
}

.navbar .navbar-brand {
  color: var(--bs-white);
}

.navbar .navbar-brand:hover {
  opacity: 0.8;
}

.navbar .nav-link {
  color: var(--bs-white) !important;
}
.navbar .nav-link:hover {
  opacity: 0.9; /* Colore del testo al passaggio del mouse */
}

.offcanvas-title {
  color: var(--bs-white) !important;
}

.offcanvas-dark {
  background-color: var(--primary) !important;
}
.offcanvas-dark .nav-link,
.offcanvas-dark .navbar-brand {
  color: var(--bs-white) !important;
}
.offcanvas-dark .nav-link:hover,
.offcanvas-dark .navbar-brand:hover {
  opacity: 0.9 !important; /* Colore del testo al passaggio del mouse */
}

.offcanvas .dropdown-menu {
  background-color: var(--primary);
  border: none;
}

.navbar .dropdown-menu {
  border: 0.5px solid rgb(0, 46, 0);
  background-color: var(--primary);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.footer-section svg {
  fill: white !important;
}

#footer-copyright {
  background-color: rgb(0, 39, 0);
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.navbar-toggler-button {
  border: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary);
  color: var(--bs-white);
}
/* Footer */

.footer-section {
  position: absolute;
  bottom: 0;
}

#footer-social {
  background-color: rgb(0, 39, 0);
}

footer section {
  background-color: rgb(0, 31, 0);
  color: white;
}

footer section a,
footer section h6 {
  color: white;
}

body {
  padding-bottom: 1600px; /* Default padding-bottom for small screens */
}

@media (min-width: 992px) {
  body {
    padding-bottom: 900px; /* Adjust padding for medium screens */
  }
}

.nav-link {
  opacity: 0.78;
}

nav .nav-link.active {
  opacity: 1;
  color: var(--bs-white) !important;
}

/* LANGUAGE SELECTOR */

#language-selector {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* hero*/
.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .hero-image {
    height: 90vh;
  }
}

@media (max-width: 992px) {
  .hero-image {
    height: 70vh;
  }

  #card-amati {
    border: 1px solid #e0e0e0;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: 70vh;
  }
}

.hero-section .position-absolute.top-0.start-0.w-100.h-100 {
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero-section .img-fluid.hero-image {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.btn-fade.d-lg-none {
  background-color: transparent;
}

.container-fluid.hero-section {
  padding: 0;
  margin: 48px 0 0 0;
  position: relative;
}

.hero-section .position-absolute.top-50.start-50.translate-middle {
  z-index: 2;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Nero con opacità del 50% */
  z-index: 1;
}
.masthead .container {
  position: relative;
  z-index: 2;
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* From Uiverse.io by Madflows */
.button-fade {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--primary);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-fade:hover::before {
  transform: scaleX(1);
}

.button-fade-content {
  position: relative;
  z-index: 1;
}

.button-fade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(0, 137, 75) 10.8%,
    rgb(0, 77, 23) 94.3%
  );
  transition: all 0.475s;
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
  background: var(--primary);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em rgb(33, 37, 41);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(33, 37, 41);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: rgb(33, 37, 41);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* call button */
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: var(--bs-green);
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: var(--bs-green);
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .call:hover,
.wrapper .call:hover .tooltip,
.wrapper .call:hover .tooltip::before {
  background: white;
  color: var(--bs-green);
}
