/* HERO*/
.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .hero-image {
    height: 80vh;
  }
}

@media (max-width: 992px) {
  .hero-image {
    height: 60vh;
  }

  #card-amati {
    border: 1px solid #e0e0e0;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: 50vh;
  }
}

.hero-section .position-absolute.top-0.start-0.w-100.h-100 {
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.hero-section .img-fluid.hero-image {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.btn.d-lg-none {
  background-color: transparent;
}

.container-fluid.hero-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.hero-section .position-absolute.top-50.start-50.translate-middle {
  z-index: 2;
}

/* AMATI */

.amati-section {
  margin-bottom: 200px;
}

.img-amati {
  width: 100%;
  height: 300px; /* Default height */
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .img-amati {
    height: 300px; /* Adjust height for XL screens */
  }
}

@media (max-width: 1199px) {
  .img-amati {
    height: 250px; /* Adjust height for large screens */
  }
}

@media (max-width: 991px) {
  .img-amati {
    height: 300px; /* Adjust height for medium screens */
  }
}

@media (max-width: 767px) {
  .img-amati {
    height: 250px; /* Adjust height for small screens */
  }
}

@media (max-width: 575px) {
  .img-amati {
    height: 200px; /* Adjust height for extra small screens */
  }
}

.footer-column {
  margin-bottom: 30px;
}

.container-fluid.amati-section {
  padding: 0 15px;
}

.amati-section .row.m-0 {
  padding: 64px 0;
}

.amati-section .row.flex-column.flex-md-row.g-3 {
  padding: 0 15px;
}

.amati-section #card-amati {
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 16px;
}

.amati-section .img-amati {
  width: 100%;
  object-fit: cover;
}

.amati-section .d-flex.align-items-center {
  gap: 0.5rem;
}

.amati-section a {
  margin: 0;
  padding-left: 16px;
}

.name-amati {
  margin-top: 15px;
}

/*CONTACT */

.contact-section {
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
}

.contact-section img {
  width: 100%;
  object-fit: cover;
}

.container-fluid.contact-section {
  padding: 100px 30px;
}

.contact-section .btn {
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 0;
}

.contact-section .btn:nth-child(2) {
  background-color: transparent;
  color: white;
}

.contact-section img {
  width: 100%;
  object-fit: cover;
}

/* STORY*/

.container-fluid.story-section {
  padding: 100px 30px;
}

.story-section img {
  width: 100%;
  border-radius: 10px;
}

.story-section .btn {
  border: 1px solid black;
  border-radius: 0;
}

.container-fluid.contact-section {
  padding: 100px 30px;
}

.container-fluid.story-section {
  padding: 100px 30px;
  max-height: 600px;
}

.story-section img {
  border-radius: 10px;
  object-fit: cover;
}

.story-section .btn {
  border: 1px solid black;
  border-radius: 0;
}
