#hero-section {
  height: 100vh;
}

#carouselExampleCaptions .carousel-item {
  height: 87vh;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  #hero-section,
  #carouselExampleCaptions .carousel-item {
    height: 800px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #hero-section,
  #carouselExampleCaptions .carousel-item {
    height: 600px;
  }
}

@media (max-width: 767px) {
  #hero-section,
  #carouselExampleCaptions .carousel-item {
    height: 400px;
  }
}
